In [1]:
#Performing Multiple Linear Regression on the Titanic Datset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
%matplotlib inline

In [2]:
#Reads the data and stores it into a Pandas Datafram
df=pd.read_excel("titanic3.xls",'titanic3')

In [3]:
#Shows the first five records. 
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [4]:
#This shows the columns that have null values in them
df.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [5]:
#Here I chose to use age and fare as my independent vvariables and survived as my dependent variable.
#I am replacing null values in age with the mean of all available age data
age_df=df['age']
age_mean=age_df.mean()
age_mean
age_df=age_df.fillna(age_mean)
df['age']=age_df

In [6]:
#Replacing fare values with that of 
mean_fare=df['fare'].mean()
df['fare']=df['fare'].fillna(mean_fare)

In [25]:
#Null values have been replaced
df.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age             0
sibsp           0
parch           0
ticket          0
fare            0
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [8]:
#Choosing fare and age as independent variables, or x, and survived as dependent variable, or y
x=df[['fare','age']]
y=df[['survived']]
x=sm.add_constant(x) #Adding a constant

C:\Users\ASHWIN MC\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [26]:
model=sm.OLS(y,x).fit()
pred=model.predict(x)
res=model.summary()
res

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.068
Model:                            OLS   Adj. R-squared:                  0.067
Method:                 Least Squares   F-statistic:                     47.93
Date:                Sun, 05 Apr 2020   Prob (F-statistic):           8.22e-21
Time:                        11:16:49   Log-Likelihood:                -866.18
No. Observations:                1309   AIC:                             1738.
Df Residuals:                    1306   BIC:                             1754.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.4075      0.033     12.367      0.000       0.343       0.472
fare           0.0024      0.000      9.608      0.000       0.002       0.003
age           -0.0036      0.001     -3.500      0.000      -0.006      -0.002
==============================================================================
Omnibus:                     8077.539   Durbin-Watson:                   1.721
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              183.136
Skew:                           0.495   Prob(JB):                     1.71e-40
Kurtosis:                       1.459   Cond. No.                         164.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [23]:
#Predicting the survival rate of Titanic survivors
age=int(input("Enter age:"))
fare=float(input("Enter fare:"))
ypred=0.4075+0.0024*fare-0.0036*age

Enter age:29
Enter fare:151.55

In [24]:
#Percentage of survival rate
ypred*100

66.682